.body_backgorund 
{
    background-image:url('hOye.gif');
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
}
#myCanvas
{
border-width: 10px;
background-color: red; /* For browsers that do not support gradients */
border-color: linear-gradient(to bottom right, pink, blue);
border-style: double;
}

